<div id="which-post-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Please select which method you will be using</h4>
      </div>
      <div class="modal-body select-how-to-post">
        <a href="<%= trip_track_route_path(@trip, track_or_upload: 'track') %>" class="btn btn-primary">Track Yourself</a><br>
        <a href="<%= trip_track_route_path(@trip, track_or_upload: 'upload') %>" class="btn btn-primary">Upload via a GPS file</a><br>
        <a href="<%= new_trip_post_path(@trip) %>" class="btn btn-primary">Use Google maps</a>
      </div>
    </div>
  </div>
</div>
