<h1>One blog page</h1>
<% if (current_user != nil) %>
  <% if (@blog.user_id == current_user.id) %>
    <h3><a href="<%= new_blog_post_url(@blog.id) %>">Make a post</a></h3>
  <% end %>
<% end %>
<% @blog.posts.each do |post| %>
  <h3><%= post.post_title %></h3>
  <p><%= post.post_content %></p>
<% end %>
<div id="map-container">
  <div id="map-canvas">

  </div>
</div>
<script type="text/javascript">
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map-container'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOPUyGan2qsdAXBODCGHa2TN6myWIxZFQ&callback=initMap"
  async defer></script>
