<p><%= @user.name %> has sent you a message</p>


<%= link_to "Click here to view the message", conversation_messages_url(@conversation)%>

<p>Please click this <%= link_to "link", user_unsubscribe_url(@recipient) %> to unsubsribe from emails.</p>
