<h1>Someone flagged your message but we deemed it non offensive</h1>

<p>We have deemed the following message to be non offensive and no strike has been given, the message will stay hidden from the conversation in case it continues to offend the other user.</p>

<p>The message was: <br>
"<%= @message.body %>"</p>

<p>Thanks for using Travel on Two</p>
