<h1>A strike has been made to your account</h1>

<p>We have deemed the following message to breach our community guidelines</p>

<p><%= @message.body %></p>

<p>A strike has been made to your account. Please try to refrain from offending people.</p>
