<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Mailbox</h3>
    </div>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id %>
        <% recipient = User.find(conversation.recipient_id) %>
      <% else %>
        <% recipient = User.find(conversation.sender_id) %>
      <% end %>
      <div class="col-sm-12 user-search-column">
        <% if conversation.read?(conversation, current_user) %>
        <div class="row row-unread row-message">
        <% else %>
        <div class="row row-message">
        <% end %>
          <div class="col-sm-2">
            <% if recipient.avatar_url == nil %>
                <a href="#" class="profile-image"><%= image_tag "missing.png", :class=> "user-cover-photo img-rounded" %></a>
            <% else %>
                <%= image_tag recipient.avatar.thumb.url, :class => "user-cover-photo img-rounded" %>
            <% end %>
          </div>
          <div class="col-sm-3">
            <h1 class="person-name"><%= link_to recipient.name,   conversation_messages_path(conversation) %></h1>
            <% if conversation.read?(conversation, current_user) %>
              <p class="unread-messages">
                Unread Messages
              </p>
            <% end %>
          </div>
          <div class="col-sm-5 col-sm-offset-2">
            <% last_message = conversation.messages.last %>
            <% unless last_message == nil %>
              <p class="last-message">
                <%= last_message.body %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
