
commands:
  01-download_es:
    command: "rpm --import https://packages.elastic.co/GPG-KEY-elasticsearch"
    test: test ! -f ~/.semaphore
  02-download_es:
    command: "curl https://gist.githubusercontent.com/nl5887/b4a56bfd84501c2b2afb/raw/elasticsearch.repo > /etc/yum.repos.d/elasticsearch.repo"
    test: test ! -f ~/.semaphore
  03-download_es:
    command: "yum update -y"
    test: test ! -f ~/.semaphore
  04-download_es:
    command: "yum install -y elasticsearch"
    test: test ! -f ~/.semaphore
  05-download_es:
    command: "yum install -y java-1.8.0-openjdk"
    test: test ! -f ~/.semaphore
  06-download_es:
    command: "update-alternatives --config java"
    test: test ! -f ~/.semaphore
  07-download_es:
    command: "chkconfig elasticsearch on"
    test: test ! -f ~/.semaphore
  08-signal-startup-complete:
    command: touch ~/.semaphore
