commands:
  001_install_jdk:
    command: apt install openjdk-8-jdk-headless net-tools wget
  002_download_es:
    command: wget --no-check-certificate https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.2.0.deb
  003_install_es:
    command: dpkg -i elasticsearch-5.2.0.deb
  004_start_es:
    command: systemctl start elasticsearch
  005_enable_es:
    command: systemctl enable elasticsearch
