<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <tr>
          <th>Username</th>
          <th>Message Content</th>
          <th>User Offense Count</th>
          <th>Pardon User</th>
          <th>Warn User</th>
          <th>Ban User</th>
        </tr>
        <% @flagged_messages.each do |flagged_message| %>
          <% user = flagged_message.user %>
          <% if user.open_offense %>
          <tr>
            <td><%= user.name %></td>
            <td><%= flagged_message.body %></td>
            <td><%= user.offense_count %></td>
            <td><%= button_to('Pardon User', user_pardon_path(user.id), :class => 'btn btn-success', :method => :patch) %></td>
            <td><button type="button" name="button" class="btn btn-warning">Warn User</button></td>
            <td><button type="button" name="button" class="btn btn-danger">Ban User</button></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
