<div class="user clearfix">
  <h2><%= @user.name %></h2>
  <div class="actions">
    <div class="btn-group">
    </div>
  </div>
</div>
<div class="info">
  <p>
    This is a short description about me, I love biking and this should be added to the user model as something. A short description about the user.
  </p>
  <p><span class="glyphicon glyphicon-globe"></span> <span class="title">Address:</span>  St. Revutskogo, Kiev, Ukraine</p>
</div>
