<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="profile-and-cover-photo">
        <%= render "profile_and_cover_photo" %>
      </div>
      <div id="user-information">
        <%= render "user_information" %>
      </div>
      <% if @current_user.id == @user.id %>
        <div class="saved-routes">
          <%= link_to 'Saved routes', saved_routes_path, class: "btn btn-primary" %>
        </div>
      <% end %>
      <div id="trips-profile">
        <%= render "trip_boxes" %>
      </div>
    </div>
  </div>
</div>
