<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="profile-and-cover-photo">
        <%= render "profile_and_cover_photo" %>
      </div>
      <div id="user-information">
        <%= render "user_information" %>
      </div>
      <div id="trips">
        <%= render "trip_boxes" %>
      </div>
    </div>
  </div>
</div>
