<div class="container">
  <div class="row">
    <div class="col-sm-12 title">
      <h1>Travel on Two</h1>
      <p>Travel on Two is a website dedicated to the sharing of bicycle touring trips. Use the website to track your route, and upload it to the world. Travel on two also gives users the ability to raise moeny for there trip and allow others to follow the owners blog, or message them. The goal is to create a community like minded people that can share all of there experiences in one centralized place to make it easier for an outsider to approach this great past time.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>About Me</h1>
    </div>
    <div class="col-sm-3">
      <%= image_tag "about.JPG", :class=> "user-cover-photo img-rounded" %>
    </div>
    <div class="col-sm-9">
      <p>This entire website was built by me. I am not some large company or a person trying to make a quick buck. I fell in love with touring years ago but felt there was not a centralised website which people could share there experiences. I love bicycle touring and I hope this website just brings awarness to this amazing way to travel.<br>
        <br>Please email me if you have any complaints or run into any bugs on the website and I'll get back to you as soon as I can.
        <br><br>My Email is evan.shabsove@gmail.com
      </p>
    </div>
  </div>
</div>
