<a href="/blogs">Link to Blogs</a><br>
<a href="/users/new">link to sign in</a><br>
<a href="/sessions/new">Link to Log in</a>

<p class="userinfo">
  <% if current_user %>
    Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
  <% else %>
    <%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
  <% end %>
</p>
