<div id="wrapper-reg">
  <div class="container container-table <%= css_slug %>">
    <div class="row vertical-center-row <%= css_slug %>">
      <div class="registration-wrapper">
        <div class="col-title">
          <h1>Make a donation goal</h1>
        </div>
        <hr class="title-divider">
        <div class="sign_form">
          <% if @stripe_account == nil %>
          <%= render 'stripe_connect' %>
          <% else %>
          <%= render 'form' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
