<button id="track-route" type="button" name="button" class="btn btn-primary">Start Tracking</button>
<button id="stop-track-route" type="button" name="button" class="btn btn-danger">Stop Tracking</button>
