<h1>Edit Post</h1>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOPUyGan2qsdAXBODCGHa2TN6myWIxZFQ&libraries=places">
</script>
<script type="text/javascript">
$(function(){
  function initialize() {

    var input1 = document.getElementById('post_address1');
    var input2 = document.getElementById('post_address2');
    var autocomplete1 = new google.maps.places.Autocomplete(input1);
    var autocomplete2 = new google.maps.places.Autocomplete(input2);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
})
</script>

<%= render 'form' %>

<br>
<%= button_to "Delete Trip", { action: "destroy", id: @post.id},
                        method: :delete, data: { confirm: "Are you sure?" } %>
