<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API'] %>">
</script>
<h1>Track route</h1>
<button id="track-route" type="button" name="button" class="btn btn-primary">Start Tracking</button>
<button id="stop-track-route" type="button" name="button" class="btn btn-danger">Stop Tracking</button>

<div id="map-track-route">
</div>
