.progressbar-text {
  position: absolute;
  color: black !important;
  text-align: center;
}

input.btn-ban-user.btn.btn-danger {
  margin-top: 0px;
}

a.go-to-flagged-messages {
  margin-top: 10px;
  margin-bottom: 10px;
}
