// Place all the styles related to the followed_blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.followed_blogs-index {
  .user-search-column {
    padding: 20px;
  }
  .blog-title {
    margin-top: 2px;
  }
  .blog-text {
    margin-top: 2px;
  }
}
