// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html.home-index {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(homepage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

body.home-index {
  background-color: transparent !important;
}

nav.navbar {
   background-color: $dark-green;
   background: $dark-green;
   border-color: $dark-green;
}

a {
  color: $blue;
}
/* line 52, /home/evanshabsove/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_scaffolding.scss */
a:hover, a:focus {
  color: $blue;
}

.notice-container {
  position: absolute;
  width: 20%;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  right: 0;
}

.nav-logo {
  max-width: 105px;
}

a.navbar-brand {
  position: absolute;
  left: 50px;
  padding: 4px;
}

.notice {
  width: 100%;
  border-radius: 2px;
  background-color: lightblue;
  font-size: 20px;
  border: gold 2px solid;
}

.error {
  width: 100%;
  border-radius: 2px;
  background-color: red;
  font-size: 20px;
  border: white 2px solid;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

ul.dropdown-menu li a {
  color: black !important;
}

ul.nav a:hover {
  border-bottom: solid $green;
  padding-bottom: 7px;
}

.row.vertical-center-row {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.fa.fa-asterisk.asterisk-nav {
  color: gold;
  position: relative;
  top: -7px;
  left: -4px;
}

.fa.fa-asterisk.asterisk-unread {
  color: gold;
  position: absolute;
  top: 0px;
  left: 0px;
}

.btn.btn-secondary {
  margin-top: 3%;
}

.nav {
  li.search-button {
    display: none;
  }
}

h1.home, h2.home {
  color: white !important;
}

h1.home {
  font-size: 60px !important;
}

h2.home {
  font-size: 25px !important;
}

#wrapper-home {
  text-align: center;
  height: 90%;
}

#user_remeber_me {
  margin-left: 0px;
}


/*button styles*/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: $blue;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: $dark-blue;
}

.btn-primary:active, .btn-primary.active {
    background: $dark-blue;
    box-shadow: none;
}

.btn.sharp {
  border-radius: 0;
}

.btn.outline {
	background: none;
	padding: 6px 18px;
}

.btn-primary.outline {
	border: 2px solid $yellow;
	color: $yellow;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: $dark-light-green;
	border-color: $dark-light-green;
  background-color: transparent;
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: $dark-light-green;
	color: $dark-light-green;
	box-shadow: none;
}

.pac-container {
    z-index: 1051 !important;
}



/*!
 * Start Bootstrap - Createive v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-creative/blob/master/LICENSE)
 */
#home-index {

  hr {
    max-width: 50px;
    border-width: 3px;
    border-color: $blue; }

  hr.light {
    border-color: white; }

  a {
    color: $blue;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    a:focus, a:hover {
      color: $blue; }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px; }

  .bg-primary {
    background-color: $red !important; }

  .bg-dark {
    color: white;
    background-color: $dark-green !important; }

  .text-faded {
    color: rgba(255, 255, 255, 0.7); }

  section {
    padding: 100px 0; }

  .section-heading {
    margin-top: 0; }

  ::-moz-selection {
    color: white;
    background: #222222;
    text-shadow: none; }

  ::selection {
    color: white;
    background: #222222;
    text-shadow: none; }

  img::selection {
    color: white;
    background: transparent; }

  img::-moz-selection {
    color: white;
    background: transparent; }

  body {
    -webkit-tap-highlight-color: #222222; }

  #services {
    background-color: white;
  }

  #portfolio {
    padding: 0;
  }

  #contact {
    background-color: white;
  }

  .button-group {
    form {
      display: inline;
    }
    .btn {
      display: inline;
    }
  }

  header.masthead {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: white;
    height: 100vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    header.masthead .header-content {
      position: relative;
      width: 100%;
      padding: 150px 15px 100px;
      text-align: center; }
      header.masthead .header-content .header-content-inner h1 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase; }
      header.masthead .header-content .header-content-inner hr {
        margin: 30px auto; }
      header.masthead .header-content .header-content-inner p {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 50px;
        color: rgba(255, 255, 255, 0.7); }
    @media (min-width: 768px) {
      header.masthead {
        min-height: 600px; }
        header.masthead .header-content {
          position: absolute;
          top: 50%;
          padding: 0 50px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          header.masthead .header-content .header-content-inner {
            max-width: 1000px;
            margin-right: auto;
            margin-left: auto; }
            header.masthead .header-content .header-content-inner h1 {
              font-size: 50px; }
            header.masthead .header-content .header-content-inner p {
              font-size: 18px;
              max-width: 80%;
              margin-right: auto;
              margin-left: auto; } }

  .service-box {
    max-width: 400px;
    margin: 50px auto 0; }
    @media (min-width: 992px) {
      .service-box {
        margin: 20px auto 0; } }
    .service-box p {
      margin-bottom: 0; }

  .portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
    img {
      width: 635px;
    }
   }
    .portfolio-box .portfolio-box-caption {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      opacity: 0;
      color: white;
      background: rgba(240, 95, 64, 0.9);
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      transition: all 0.2s; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        text-align: center; }
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
          padding: 0 15px;
           }
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
          font-size: 14px;
          font-weight: 600;
          text-transform: uppercase; }
        .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
          font-size: 18px; }
    .portfolio-box:hover .portfolio-box-caption {
      opacity: 1; }
    .portfolio-box:focus {
      outline: none; }
    @media (min-width: 768px) {
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px; }
      .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px; } }

  .call-to-action {
    padding: 50px 0; }
    .call-to-action h2 {
      margin: 0 auto 20px; }

  .text-primary {
    color: $blue !important; }

  .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0; }

  .btn-default {
    color: #222222;
    border-color: white;
    background-color: white; }
    .btn-default.focus, .btn-default:focus {
      color: #222222;
      border-color: #bfbfbf;
      background-color: #e6e6e6; }
    .btn-default:hover {
      color: #222222;
      border-color: #e0e0e0;
      background-color: #e6e6e6; }
    .btn-default.active, .btn-default:active,
    .open > .btn-default.dropdown-toggle {
      color: #222222;
      border-color: #e0e0e0;
      background-color: #e6e6e6; }
      .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover,
      .open > .btn-default.dropdown-toggle.focus,
      .open > .btn-default.dropdown-toggle:focus,
      .open > .btn-default.dropdown-toggle:hover {
        color: #222222;
        border-color: #bfbfbf;
        background-color: #d4d4d4; }
    .btn-default.active, .btn-default:active,
    .open > .btn-default.dropdown-toggle {
      background-image: none; }
    .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default.focus,
    fieldset[disabled] .btn-default:focus,
    fieldset[disabled] .btn-default:hover {
      border-color: white;
      background-color: white; }
    .btn-default .badge {
      color: white;
      background-color: #222222; }

  .btn-primary {
    color: white;
    border-color: $blue;
    background-color: $blue; }
    .btn-primary.focus, .btn-primary:focus {
      color: white;
      border-color: $dark-blue;
      background-color: $dark-blue; }
    .btn-primary:hover {
      color: white;
      border-color: $dark-blue;
      background-color: $dark-blue; }
    .btn-primary.active, .btn-primary:active,
    .open > .btn-primary.dropdown-toggle {
      color: white;
      border-color: $dark-blue;
      background-color: $dark-blue; }
      .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
      .open > .btn-primary.dropdown-toggle.focus,
      .open > .btn-primary.dropdown-toggle:focus,
      .open > .btn-primary.dropdown-toggle:hover {
        color: white;
        border-color: $dark-blue;
        background-color: $dark-blue; }
    .btn-primary.active, .btn-primary:active,
    .open > .btn-primary.dropdown-toggle {
      background-image: none; }
    .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
    fieldset[disabled] .btn-primary.focus,
    fieldset[disabled] .btn-primary:focus,
    fieldset[disabled] .btn-primary:hover {
      border-color: $dark-blue;
      background-color: $dark-blue; }
    .btn-primary .badge {
      color: $blue;
      background-color: white; }

  .btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
     }

  .btn-xl {
    padding: 15px 30px; }

  .trip-slider {
    background-size: cover;
    background-position: center center;
    position: relative;
    h2 {
      position: absolute;
      bottom: 0;
      left: 30px;
    }
    .trip-link {
      color: white;
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }
  }

  .slick-slider {
    margin-top: 30px;
  }


  #about {
    padding: 10px 0;
  }

  .new-trips-container {
    margin: 0;
    padding: 0;
    width: 100%;
    .row {
      width: 100%;
      margin: 0;
    }
    .slick-list {
      width: 100%;
    }
    .slick-track {
      height: 40vh;
    }
  }
}


@media (max-width: 1050px) {
  .nav {
    li.search-button {
      display: block;
    }
    li.search-bar {
      display: none;
    }
  }
}

@media (max-width: 432px) {

  #search-trip-homepage {
    margin-top: 10px;
  }

  #home-index {
    header.masthead {
      height: 92vh;
      .header-content {
        padding: 100px 15px 100px;
      }
    }
  }

}
