// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  margin-top: 4vh;
  padding: 15px;
  border-radius: 6px;
  position: relative;
}

.sender {
  background-color: green;
}

.reciever {
  background-color: blue;
  color: white;
  text-align: right;
}

.message-photo {
  width: 70px;
}

#new_message {
  margin-top: 4vh;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.image-left {
  position: absolute;
  left: 25px;
}

.ui.segment {
  .col-sm-12 {
    padding-bottom: 60px;
  }
  .view-all-messages-col {
    padding-bottom: 0px;
  }
}

.image-right {
  position: absolute;
  right: 25px;
}

.triangle-current {
  position: absolute;
  bottom: -12px;
  border-top: 20px solid green;
}

.triangle-other {
  position: absolute;
  right: 15px;
  bottom: -5px;
  border-top: 20px solid blue;
}

.message-pictre {
  margin-top: 12px;
}

.view-all-messages-col {
  margin-top: 14px;
}
