// Place all the styles related to the post_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-group-row {
  margin-top: 10vh;
}

.post-group-box {
  h3 {
    padding-left: 22px;
    padding-top: 12px
  }
}

.no-mess-mobile {
  display: none;
}

#menu-toggle {
  display: none;
}

@media (max-width: 764px) {
  #menu-toggle {
    display: block;
    width: 55%;
    position: absolute;
    top: -50px;
    left: 0px;
  }
  .post-group-row {
    .col-lg-12 {
      margin-top: 8vh;
    }
  }
  .align-left-button {
    float: left;
    width: 49%;
    input.btn {
      width: 100%;
      font-size: 11px;
    }
  }
  .no-mess-mobile {
    display: inherit;
  }
  .align-right-button {
    float: left;
    width: 49%;
    input.btn {
      width: 100%;
      font-size: 10px;
    }
  }
  .back-to-trip-link {
    position: absolute;
    top: -50px;
    right: 0px;
  }
  img.post-picture {
    max-width: 200px;
  }
}
