// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-search-column {
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.search-column {
  margin-top: 4vh;
}

input.search-text-input {
  width: 80%;
  display: inline-block;
}
