// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-search-column {
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;

  .user-thumb-image {
    cursor: pointer;
  }
}

.search-column {
  margin-top: 4vh;
}

input.search-text-input {
  width: 80%;
  display: inline-block;
}

.search-page-button {
  width: 19%;
}

.search-body-row {
  display: table;

  .advance-search {
    float: none;
    display: table-cell;
    position: relative;
  }
  .search-results {
    display: table-cell;
    float: none;
  }
  .advance-search-box {
    position: absolute;
    top: 0;
  }
}

@media (max-width: 768px) {
  .search-body-row {
    display: block;

    .advance-search {
      float: left;
      display: block;
      position: relative;
      width: 100%;
    }
    .search-results {
      display: block;
      float: none;
    }
    .advance-search-box {
      position: relative;
    }
  }
  .search-page-button {
    width: auto;
  }
}
