.trip-title {
  display: inline;
  margin-left: 20px;
  font-size: 5rem;
}

.trip-title-box {
  height: 100%;
}

.trip-cover-column {
  margin-top: 5vh;
}

.trip-display {
  width: 100%;
  text-align: center;
}

.trip-title-column {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.post-group-year {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.post-group-box {
  height: 200px;
  background-color: grey;
  margin: 16px;
  border-radius: 16px;
}

.trip-title-description {
  text-align: center;
}

.post-box {

  margin-bottom: 16px;
  margin-top: 16px;

  h3 {
    display: inline;
  }

  .post-title {
    margin-left: 20%;
  }

}

.post-column {
  margin-top: 4vh;
}
