.trip-box {
  position: relative;
  width: 100%;
  height: 20vh;
  background-color: gray;
  margin-bottom: 5vh;
  border-radius: 10px;
  padding: 1vh;
  background-repeat: no-repeat;
  background-size: cover;

  .hover-box {
    border-style: dashed;
    border-width: 6px;
    margin-bottom: 5vh;
    border-radius: 10px;
    border-color: transparent;
    width: 100%;
    height: 100%;
  }

  .trip-title {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
  }

  &:hover {
    .hover-box {
      border-color: white;
    }
  }

}

#trips-profile {
  margin-top: 8vh;
}

.new-trip-box {
  position: relative;
  width: 100%;
  height: 20vh;
  border-style: dashed;
  border-width: 6px;
  margin-bottom: 5vh;
  border-radius: 10px;

  &:hover {
    border-color: lightblue;
  }

  h3 {
    text-align: center;
    margin-top: 5.5vh;
    font-size: 36px;
  }

  .new-trip-link {
    margin-left: 10px;
  }

}
