.trip-title {
  display: inline;
  margin-left: 20px;
  font-size: 5rem;
}

.trip-title-box {
  height: 100%;
}

.trip-title-column {
  margin-top: 5vh;
}

.trip-display {
  width: 100%;
  text-align: center;
}

.post-box {

  margin-bottom: 16px;
  margin-top: 16px;

  h3 {
    display: inline;
  }

  .post-title {
    margin-left: 20%;
  }

}

.post-column {
  margin-top: 4vh;
}
