// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html.users-new {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(registration.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body.users-new {
  height: 100%;
}

#wrapper-reg {
  background-color: lightblue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  min-height: 94vh;
}

nav.navbar-inverse.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

nav.navbar.users-new {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.nav.navbar-nav.navbar-right.users-new li a {
    color: white;
}

body.users-new {
  background-color: transparent;
}

abbr[title] {
  display: none;
}

h5.sign-up-title {
  margin-top: 0;
  margin-bottom: 20px;
}

div.container-table.users-new {
  display: table;
  height: 100%;
  background-color: transparent;
}

.vertical-center-row.users-new {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.user-cover-photo {
  pointer-events: none;
}

div.col-submit, div.col-title, div.col-bottom{
  padding-top: 10px;
  padding-bottom: 10px;
}

div.col-title {
  text-align: center;
}

hr.title-divider {
  margin-top: 3px;
  margin-bottom: 3px;
  border-top: 2px solid #eee;
}

div.registration-wrapper {
  background-color: white;
  padding: 10px 28px 20px 28px;
  border-radius: 10px;
  border-color: grey;
}

#login-nav input {
  margin-bottom: 15px;
}

button.btn-reg {
  margin-left: 10%;
  margin-right: 10%;
}

.follow-blog-button {
  margin-top: 6px;
}

@media (max-width: 990px) {
  .profile-picture {
    .user-cover-photo {
      width: 150px;
    }
  }
  .profile-picture-edit {
    display: block;
  }
}

@media (max-width: 694px) {
  .profile-picture-edit {
    width: 50%;
  }
  .profile-picture {
    text-align: center;
    position: relative;
    left: 0px;
    bottom: 40px;
    .user-cover-photo {
      width: 100px;
      margin: auto;
      position: relative;
    }
  }
  .trip-box {
    h3.trip-title {
      font-size: 2.5rem;
      left: 0px;
      bottom: 10px;
      margin-left: 10px;
    }
  }
  .new-trip-box {
    h3 {
      font-size: 26px;
    }
  }
}
