$green: #267D3E;
$blue: #1E91D6;
$yellow: #E5D4C0;
$red: #6A041D;
$dark-green: #223127;
$dark-blue: #1977B0;
$light-blue: #bbdef2;
$dark-light-green: #4e5a52;


// $green: #267D3E;
// $blue: #D2E9F9;
// $yellow: #E5D4C0;
// $red: #993955;
// $dark-green: #223127;
// $dark-blue: #a8bac7;
// $light-blue: #dbedfa;
// $dark-light-green: #4e5a52;
